html {
  height: 100%;
  width: 100%;
}

nav ul {
  background-color: #ffa500;
  padding: 10px;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 15px;
  background: local;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 120%;
}

nav a {
  color: #ffa500;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 130%;
  cursor: pointer;
}

nav ul li a:hover {
  color: #f7e23d;
}

nav a:hover {
  transform: scale(1.15);
}

body {
  font-family: 'Pattick Hand', cursive;
  background-color: beige;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #ffa500;
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

h2 {
  color: darkorange;
  text-align: center;
  font-size: 2.5em;
}

h3 {
  color: darkorange;
  text-align: center;
  font-size: 1.5em;
}

p {
  font-size: 150%;
  line-height: 150%;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #e6f87f;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 150%;
}

